*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
}
a:hover {
    color: rgb(88, 167, 241);
    border-bottom: 2px  solid  rgb(95, 68, 145);}
    h1{
        font-size: 100px;
    }
    h2{
        font-size: 60px;
    }
    h3{
        font-size: 40px;}
    p{
     font-size: 20px;
    }
header{
    height: max-content;
    background-color: rgba(2, 63, 175, 0.986);}

.nav {
    height: max-content;
    display: flex;  
    flex-direction: row; 
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 60px;
    }

a{  
    margin: 20px 50px;
    color: white;
    text-decoration: none;}      
    
/* start Welcome  */
#Welcome{
    height: max-content;
    background-image: url(../images/tallest-buildings\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#Welcome .container{
    padding: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#Welcome h1{
    height: max-content;
    padding: 20px;
    border-radius: 5px;
    font-size: 50px;
    background-color: rgb(147, 180, 241);
    color: #020141;
}

/* end Welcome  */

/* start section aboutus */

#aboutus{
    height: max-content;
    width: 100vm;
    padding: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(206, 218, 240, 0.986);;


}

#aboutus .container{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding: 200px;    
}

#aboutus p{
    margin-top: 30px;
   }
/* end section aboutus */

/* start section ourservices */

#ourservices {
    
    height: max-content;
    width: 100vm;
    padding: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #6288cf;
}
#ourservices .container{
    display: flex;
    
}
#ourservices .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 40px;
}
#ourservices p{
    margin-top: 10px; }

/* end section ourservices */

/* start section specializations */
#specializations{
    height: max-content;
    width: 100vm;
    padding: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(206, 218, 240, 0.986);;

}
#specializations .container{
    display: flex;
    justify-content: center;
    
}
#specializations .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 60px;
}

#specializations p{
    margin-top: 10px;}
/* end section specializations */

/* start section ourteachers */
#ourteachers{
    height: max-content;
    width: 100vm;
    padding: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #6288cf;

}
#ourteachers .container{
    display: flex;
    justify-content: center;
    
}
#ourteachers .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 50px;
}
#ourteachers  img{
    width: 100px;
    margin-bottom: 30px;
}

#ourteachers  h3{
    margin-bottom: 30px;
}
/* end section ourteachers */


/* start section plans */
#plans{
    height: max-content;
    width: 100vm;
    padding: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(206, 218, 240, 0.986);;


}
#plans .container{
    display: flex;
    justify-content: center;
}
#plans .card{
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-top: 60px;
    background-color: #9caecf;
    border-radius: 5%;}

#plans ul li{
    list-style: disc;
    margin-left: 10px;
}

#plans .box{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #6288cf;
    border-radius: 2%;
}
#plans .card img{
    width: 200px;
    margin: 15px;
}
/* end section plans */


/* start section contactus */
#contact{
    height: max-content;
    width: 100vm;
    padding: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #6288cf;

}
#contact .container{
    width: 400px;
    margin-bottom: 20px;

}
    
#contact h2 {
    margin-bottom: 30px;
}
#contact .cont1 {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
#contact input {
    padding-right: 100px;
    width: 500px;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    border: none

}
#contact .message{
    width: 500px;
    height: 70px;
}
#contact .submit{
    color: white;
    background-color: black;
    width:200px;
    margin: 30px;
    padding: 0px 10px;
    border-radius: 10px;
    cursor: pointer;

}
#contact .cont2{
    display: flex;
    flex-direction: column;
    align-items: center;}
    


/* start footer */
#followus{
    
    height: max-content;
    background-color: rgba(2, 63, 175, 0.986);
   padding: 10px;
}    
#followus .container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: auto;
    flex-wrap: wrap;
    
}
#followus {
    display: flex;   
    align-items: center;
    }

/* end footer */

.container .col{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;

}
@media screen and (max-width:992px){

#ourservices  .container ,#specializations .container ,#ourteachers .container,#plans .container{
    display: flex;
    flex-direction: column;}
    
    
#Welcome .container{
    padding: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

}
#Welcome h1{
    height: max-content;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    font-size: 50px;
    background-color: azure;
    color: #020141;
    opacity: 0.7;
}

#ourservices .container .col {
    display: flex;
    flex-direction: column;
}
#contact input {
    width: 300px;
    height: 40px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none

}
#contact .message{
    width: 300px;
    height: 70px;
}

}
